.App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/5546907/pexels-photo-5546907.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
  
.AddItem {
    margin-bottom: 20px;
}

.AddItem form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.AddItem label {
    display: block;
    margin-bottom: 10px; /* Increase margin for better separation */
}

.AddItem input[type="text"],
.AddItem input[type="date"],
.AddItem select,
.AddItem textarea {
    width: 100%;
    padding: 10px; /* Adjust padding for better input appearance */
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.AddItem textarea {
    resize: vertical;
}

.AddItem button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add smooth transition */
}

.AddItem button:hover {
    background-color: #0056b3;
}


.TaskList h2 {
    color: white;
    margin-bottom: 10px;
}

.tasktracker{
    color: white;
}

.TaskList ul {
    list-style: none;
    padding: 0;
}


.TaskItem h3 {
    margin: 0;
    font-size: 18px; /*Bigger font size foir better readability */
}

.TaskItem p {
    margin: 5px 0;
}

.TaskItem {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px; 
}
